@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

* {
  margin:0;
  padding:0;
}
body {
  background-image:url("slike/cartographer.png");
  color:white;
  font-family:"Share Tech Mono", monospace;
}

.wrapper {
  margin:0 auto;
  width: 95%;
  max-width: 1200px;
  height: 100vh;
  display: flex;

  hgroup{
    text-align: center;
    margin:auto;
    border:2px solid white;
    padding: 20px;
    transition:300ms;
    //box-shadow: 0 0 5px #fff;

    &:hover{
      transition:300ms;
      color:#00FFBC;
      padding: 20px 30px;
    }
    p{
      padding: 10px;
      color: lavender;
    }
  }
}
